<% provide(:title, 'About Us') %>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag('josh.jpg') %>
          <div class="caption">
            <h3>Josh Duffy - CEO</h3>
            <p>Josh is a recent graduate with a Bachelor's Degree in Electrical Engineering at Colorado School of Mines. He is passionate about B2B SaaS Rails Apps and making business operation streamlined. Rock climbing and snowboarding fill his free time in the Colorado outdoors.</p>
            <p>
              <%= mail_to('josh@affektive.com', "Email", class:'btn btn-primary') %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag('michael.jpg', size:'200x400') %>
          <div class="caption">
            <h3>Michael Pierce - CFO</h3>
            <p>Michael Pierce is a 2nd year graduate student in Engineering and Technology Management at Colorado School of Mines. He currently works as an Underwriter for a top insurance brokerage in Denver Colorado. Michael has a deep interest in business development, marketing, and streamling customer relations. Home theater, avid reading, and hiking are some of his many interests.</p>
            <p>
              <%= mail_to('michael@affektive.com', "Email", class:'btn btn-primary') %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag('joe.png') %>
          <div class="caption">
            <h3>Joe Currin - CTO</h3>
            <p>Joe Currin earned his MBA from Chapman University in 2010. With 6 years of UX Design and a passion for technology, he is dedicated to streamlining products to improve customer's lives.  Prior to joining Affektive, Joe worked for Apple, where he helped design employee training curriculum. Outside of work Joe is an avid snowboarder.</p>
            <p>
              <%= mail_to('joe@affektive.com', "Email", class:'btn btn-primary') %>
          </div>
        </div>
      </div>
    </div>
  </div>

