<!DOCTYPE html>
<html>
  <head>
    <title>Affektive | <%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to('Affektive Software', '#', id: 'logo')%>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '/static_pages/home' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Contact",    '#' %></li>
              <li><%= link_to "About Us", '/static_pages/about' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

